/maxplug-6af34-firebase-adminsdk-fbsvc-61142b2082.json
/.env
/merchant_private.pem
/merchant_public.pem
maxplug-6af34-firebase-adminsdk-fbsvc-61142b2082.json
*.json
maxplug-6af34-firebase-adminsdk-fbsvc-61142b2082.json
*.json
maxplug-6af34-firebase-adminsdk-fbsvc-61142b2082.json
*.json
maxplug-6af34-firebase-adminsdk-fbsvc-61142b2082.json
*.json
.env
